#*node_modules*
#*bower_components*
*.DS_Store
*npm-debug.log
**/layout_imgs/machines/**

*.mwb
*.bak
*.beforefix
.node-inspectorrc
**ssl
/env.json
/_assets/
/node_modules/
/node/node_modules/
/app/bower_components/
