<div id="admin-menu-holder" ng-controller="AdminMenuController" ng-click="close()"><!-- ngClick here to catch bubbled link click -->
	<div class="bg" ng-click="close()"></div>
	<div id="admin-menu">
		<header>
			<a class="close" ng-click="close()">Close</a>
			<h1>Admin Panel</h1>
		</header>
		<article>
			<div class="listview">
				<ul>
					<li><a ng-href="#/index" title="Home"><h3>Home</h3></a></li>
				</ul>
			</div>

			<section class="ties" ng-show="ties.length > 0" collapsible closed collapse-callback="sectionCollapsed(closed, 'ties')">
				<header>
				 	<span class="count red">{{ ties.length }}</span>
					<h1>Ties</h1>
				</header>
				<div class="listview tie-groups collapsible-content">
					<img ng-if="!ties.length" class="loading" src="layout_imgs/grey-block-loading-light.gif" alt="loading" />
					<ul ng-if="ties.length">
						<li ng-repeat="tie in ties">
							<a ng-href="#/admin/tiebreaker/{{ tie.name_key }}">
								<h3>{{ tie.names.join(' | ') }}</h3>
							</a>
						</li>
					</ul>
				</div>
			</section>

			<section class="scoring" ng-show="show_scoring" collapsible closed collapse-callback="sectionCollapsed(closed, 'scoring')">
				<header>
					<h1>Scoring</h1>
				</header>
				<section class="collapsible-content" ng-if="ties.length">
					<p class="note">you must resolve the ties before you can start scoring</p>
				</section>
				<section class="collapsible-content" ng-if="!ties.length">
					<div class="button-holder">
						<button class="stop-scoring red" ng-show="scoring.started" ng-disabled="!scoring.started" ng-click="stopScoring()"> <span class="title">Stop Scoring</span></button>
						<button class="prepare-scoring green" ng-show="!scoring.started" ng-disabled="scoring.started" ng-click="startScoring()"> <span class="title">Start Scoring</span></button>
					</div>

					<h2 ng-if="scoring_groups">Group Progress</h2>
					<div class="listview scoring-groups" ng-if="scoring_groups">
						<ul>
							<li ng-repeat="group in scoring_groups | orderBy:'order'">
								<a ui-sref="admin.scoring({name_key: group.name_key})">
									<h3>#{{group.order + 1}} {{ group.initials.join(' ') }}</h3>
									<p class="machines">
										<span class="abbv" ng-repeat="(abbv, value) in group.machines" ng-class="{'done':value}">{{ abbv }}</span>
									</p>
									<span class="status-indicator {{group.status}}"></span> 
								</a>
							</li>
						</ul>
					</div>
				</section>
			</section>

			<section class="nights" collapsible closed collapse-callback="sectionCollapsed(closed, 'nights')">
				<header>
					<h1>League Nights</h1>
				</header>
				<section class="collapsible-content">
					<div class="button-holder">
						<a class="button blue plus" ng-href="#/admin/nights/new">
							<span class="title">New League Night</span>
						</a>
					</div>

					<h2>All Nights</h2>
					<div class="listview league-nights">
						<img ng-if="!nights" class="loading" src="layout_imgs/grey-block-loading-light.gif" alt="loading" />
						<ul ng-if="nights">
							<li ng-repeat="night in nights | orderBy:'starts':true" ng-if="night.starts != 'totals'" data-starts="{{night.starts}}">
								<a ng-href="#/admin/nights/{{night.starts}}">
									<h3>{{ night.title }}</h3>
									<p>{{ night.description }}</p>
								</a>
							</li>
							<li ng-if="!nights.length">no nights added yet</li>
						</ul>
					</div>
				</section>
			</section>

			<section class="users" collapsible closed collapse-callback="sectionCollapsed(closed, 'users')">
				<header>
					<h1>Users</h1>
				</header>
				<section class="collapsible-content">
					<div class="button-holder">
						<a class="button blue plus" ng-href="#/admin/users/new">
							<span class="title">Add a User</span>
						</a>
					</div>

					<h2 ng-repeat-start="(key, group) in users | groupBy:'active' | toArray:true | orderBy:'active'">
						{{ !key ? 'Active' : 'Inactive'}} Users
					</h2>
					<div class="listview edit-user-list" ng-repeat-end>
						<img ng-if="!group.length" class="loading" src="layout_imgs/grey-block-loading-light.gif" alt="loading" />
						<ul ng-if="group.length">
							<li ng-repeat="user in group | orderBy:'first_name' track by user.name_key">
								<a ng-href="#/admin/users/{{user.name_key}}">
									<h3>{{ user.full_name }}</h3>
									<p ng-if="auth.authorize('admin', user.role)">admin</p>
								</a>
							</li>
							<li ng-if="!group.length">no {{ !key ? 'active' : 'inactive' }} users?</li>
						</ul>
					</div>
				</section>
			</section>

			<section class="seasons" collapsible closed collapse-callback="sectionCollapsed(closed, 'seasons')">
				<header>
					<h1>Seasons</h1>
				</header>
				<section class="collapsible-content">
					<div class="button-holder">
						<a class="button blue plus" ng-href="#/admin/seasons/new">
							<span class="title">Add a Season</span>
						</a>
					</div>

					<h2>Edit a Season</h2>
					<div class="listview edit-season-list">
						<img ng-if="!seasons" class="loading" src="layout_imgs/grey-block-loading-light.gif" alt="loading" />
						<ul ng-if="seasons">
						<li ng-repeat="this_season in seasons | reverse">
							<a ng-href="#/admin/seasons/{{this_season.season_id}}">
								<h3>{{ this_season.title }}</h3>
								<p ng-if="this_season.season_id == season.current_id">current season</p></a></li>

							<li ng-if="!seasons.length">no seasons added</li>
						</ul>
					</div>
				</section>
			</section>

			<section class="machines" collapsible closed collapse-callback="sectionCollapsed(closed, 'machines')">
				<header>
					<h1>Machines</h1>
				</header>
				<section class="collapsible-content">
					<div class="button-holder">
						<a class="button blue plus" ng-href="#/admin/machines/new">
							<span class="title">Add a Machine</span>
						</a>
					</div>

					<h2>Active Machines</h2>
					<div class="listview edit-machine-list">
						<img ng-if="!machines[true].length" class="loading" src="layout_imgs/grey-block-loading-light.gif" alt="loading" />
						<ul ng-if="machines[true].length">
							<li ng-repeat="machine in machines[true]">
								<a ng-href="#/admin/machines/{{machine.abbv}}">
									<h3>{{ machine.name }}</h3>
									<p ng-if="machine.active">active</p>
								</a>
							</li>
							<li ng-if="!machines[true].length">there are no active machines</li>
						</ul>
					</div>

					<h2>Inactive Machines</h2>
					<div class="listview edit-machine-list">
						<img ng-if="!machines[false].length" class="loading" src="layout_imgs/grey-block-loading-light.gif" alt="loading" />
						<ul ng-if="machines[false].length">
							<li ng-repeat="machine in machines[false]">
								<a ng-href="#/admin/machines/{{machine.abbv}}">
									<h3>{{ machine.name }}</h3>
									<p ng-if="machine.active">active</p>
								</a>
							</li>
							<li ng-if="!machines[false].length">there are no inactive machines</li>
						</ul>
					</div>
				</section>
			</section>

		</article>
	</div>
</div>