<nav>
	<ul>
		<li><a ng-href="#/about" title="About">About</a></li>
		<li><a href="https://www.facebook.com/groups/GrandRapidsPinballLeague/" title="facebook group" target="_blank">Facebook Group</a></li>
		<li><a href="mailto:grpinball@gmail.com" title="grpinball@gmail.com" target="_blank">Email Us</a></li>
		<li><a ng-href="#/changelog" title="Change Log">Change Log</a></li>
	</ul>
</nav>
<section id="season-changer" ng-show="seasons.length">
	<label for="season-changer-select">Switch Seasons:</label>
	<select id="season-changer-select" ng-model="cur_season" ng-options="season.title for season in seasons | reverse" ng-change="changeSeason(cur_season)"></select> 
</section>