<div id="random-panel" class="panel">
	<header>
		<h1>Randomizer</h1>
		<a class="close" ng-click="close()">Close</a>
	</header>
	<article class="content">
		<div class="machine listview">
			<ul>
				<li>
					<img ng-src="/{{ machine.image }}">
					<h3>{{ machine.name }}</h3>
					<p>{{ machine.abbv }}</p>
				</li>
			</ul>
		</div>
		<div class="order"><strong>Player Order:</strong><span>{{ order | joinBy:' ' }}</span></div>
		<div class="button-holder right">
			<a class="close" ng-click="close()">Close</a>
			<button class="again" ng-click="randomize()"><span class="title">Again</span></button>
		</div>
	</article>
</div>