<section class="score-editor" ng-class="{editing: edit, viewing: !edit}">

	<header>
		<h1>Group {{group.group + 1}}</h1>
		<a class="button edit" ng-if="!edit" ng-click="toggleEdit()"> Edit</a>
		<a class="cancel" ng-if="edit" ng-click="toggleEdit();"> Cancel</a>
	</header>

	<div class="content">

		<table class="score-table" ng-show="!edit">
			<thead>
				<tr>
					<th></th>
					<th ng-repeat="player in group.players | toArray | orderBy:player.start_order">{{ player.full_name }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="!(group.machines | toArray).length"><td colspan="{{ (group.players |toArray).length + 1 }}" class="empty">no scores</td></tr>
				<tr ng-repeat="machine in group.machines | toArray | orderBy:machine.played_order">
					<th data-title="Machine">{{ machine.machine.abbv }}</th>
					<td class="points" ng-repeat="score in machine.scores | orderBy:score.start_order" data-title="{{ group.players[score.name_key].full_name }}">
						{{ score.points }}
					</td>
				</tr>
			</tbody>
		</table>

		<form class="score-edit-form" ng-show="edit">
			<table class="score-table">
				<thead>
					<tr>
						<th>Played Order</th>
						<th class="border-right">Machine</th>						
						<th ng-repeat="player in copy.players | toArray | orderBy:player.start_order">{{ player.full_name }}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, machine) in copy.machines | orderObj | orderBy:machine.played_order">
						<td data-title="Played Order">
							<input type="number" min="0" ng-model="machine.played_order" />
						</td>
						<td data-title="Machine" class="border-right">
							<select id="picked" ng-model="machine.machine" ng-options="mac.abbv + ': ' + mac.name for mac in machines | orderBy:'abbv'"></select>
						</td>
						<td class="points" ng-repeat="score in machine.scores | orderBy:score.start_order" data-title="{{group.players[score.name_key].full_name}}">
							<input type="number" min="0" ng-model="score.points" />
						</td>
						<td class="actions">
							<button class="red x small" ng-click="remove(machine.$key, machine)"></button>
						</td>
					</tr>
				</tbody>
			</table>			
			<div class="button-holder right">
				<a class="button blue plus" ng-click="add()"> Add</a>
			</div>
		</form>

	</div>

	<footer ng-if="edit">
		<div class="button-holder right">
			<a ng-click="toggleEdit();">Cancel</a>
			<a class="button green" ng-click="save(group); toggleEdit();">Save</a>
		</div>
	</footer>
	
</section>