@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

html,body{
  /* min-height: 100vh; */
}

body{
  font-family:'Roboto Condensed', sans-serif;
  font-size:14px;
  color:#515151;
  position:relative;
  /*background-color: slategrey; safari doesn't know slategrey */
  background-color: #708090;
  background-image: url(/layout_imgs/noise.jpg?v=2);
  background-blend-mode: multiply;
}

  body.amo{
    overflow-y: hidden;
  }

input,
select,
textarea{
  font-family:'Roboto Condensed';
  font-size:14px;
  color:#515151;
  position:relative;
}
  select option:disabled{
    text-decoration:line-through;
    color:#e3e3e3;
  }

.json,
.hidden{ display:none; }

.nowrap{
  white-space:nowrap;
}

code{
  background:#eee;
  white-space:nowrap;
  padding:3px;
  /* font-family: monospace; */
}

.page{
  position:relative;
  width:100%;  
  display:none;
  z-index:2;
}
.page:first-child{
  display:block;
}
  #main-navbar{
    position:relative;
    color:#fff;
    padding:5px;
    height:45px;
    box-shadow:0 1px 5px rgba(0,0,0,.7);
    border-bottom:1px solid #333;
    background-color: #5a5a5a;
    background-image: linear-gradient(to bottom,  #5a5a5a 0%,#2f2f2f 100%);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
    #main-navbar > div{ 
      vertical-align:middle;
    }
    #main-navbar > .left{ float:left; }
    #main-navbar > .right{ float:right; }
    #main-navbar > .center{ 
      margin-top:4px; 
      overflow:hidden;
    }


  #main-navbar .left button{
    margin:-5px 5px 0 -5px;
    height:55px;
  }
  #main-navbar .right button{
    margin:-5px -5px 0 5px;
    height:55px; 
  }
  #main-navbar button span{ display:none; }
  

  #main-navbar button.admin{
    background:none;
    border:none;
  }
  #main-navbar .hdr-logo a{
    display:inline-block;
    width:51px; height:38px;
    margin:1px 10px 0 5px;
    overflow:hidden;
    text-indent:-999px;
    background:url(/layout_imgs/mobile_sprite.png?v=2) 0 0 no-repeat;
  }

  #main-navbar .select-trigger{
    cursor:pointer;
    position:relative;
    text-align:center;
  }
    #main-navbar .select-trigger div{
      position:relative;
      display:inline-block;
      text-align:center;
    }
    #main-navbar .select-trigger div::after{
      content:'';
      display:block;
      position:absolute;
      top:50%;
      right:-23px;
      margin-top:-6px;
      width:13px; height:12px;
      background:url(/layout_imgs/mobile_sprite.png?v=2) 0 -247px;
    }
    #main-navbar .select-trigger h2{
      font-size:20px;
      line-height:1em;
      margin-bottom:2px;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
    #main-navbar .select-trigger p{
      font-size:12px;
      font-weight:100;
      text-transform:uppercase;
    }



h1, h2, h3, h4, h5{
  text-transform:uppercase;
  font-weight:bold;
  line-height:1.3888em;
}

a[ng-click]{
  cursor: pointer;
}

p.deprecated{
  line-height:1.4em;
  padding:0 1em;
}

.page article{
  margin:15px;
}

.page article section{
  margin-bottom:15px;
  box-shadow:1px 1px 5px rgba(0,0,0,.7);
  border-radius:5px;
}
  .page article section header{
    padding:15px 15px 15px 15px;
    border-radius:5px 5px 0 0;
    border-bottom:1px solid #676767;
    background-color: #a3a3a3; /* Old browsers */
    background-image: linear-gradient(to bottom,  #a3a3a3 0%,#686868 100%); /* W3C */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
    .page article section header h1{
      color:#fff;
      font-size:20px;
      text-shadow:0 0 4px rgba(0,0,0,.8);
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }

  .page article section .content,
  .panel article{
    padding:10px 15px;
    border-radius:0 0 5px 5px;
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom,  #ffffff 0%,#d7d7d7 100%); /* W3C */
  }
  /* if there's no header do full rounded corners */
  .page article section .content:first-child{ border-radius:5px; }

  /*--- COLLAPSIBLES - default is open ---*/
  .collapsible > header{
    cursor:pointer !important;
  }
  .page article section.collapsible > header,
  .panel article .collapsible > header{
    border-color:#2290c4;
    background-color: #30B4F1;
    background-image: linear-gradient(to bottom,  #5cc8f5 0%,#0ba4ee 100%); /* W3C */
  }
    .collapsible > header h1::before{
      content:'-';
      display:block;
      float:left;
      margin: 0 10px 0 0;
      font-size:31px;
      line-height: inherit;
    }
    /* --- closed ---*/
    .collapsible.closed > header{
      border-radius:5px;
      border-bottom:none;
    }
    .page article section.collapsible.closed > header,
    .panel article .collapsible.closed > header{
      background-color: #b89470; /* Old browsers */
      background-image: linear-gradient(to bottom,  #b89470 0%,#894e14 100%); /* W3C */
    }
      .collapsible.closed header h1::before{ 
        content:'+'; 
      }
      section.collapsible.closed > .content,
      .collapsible.closed > .content,
      .collapsible.closed > .collapsible-content{
        display:none;
      }

  /* live sections, both collapsible and none */
  .page article section.live header,
  .page article section.collapsible.closed.live header,
  button.live{
    background-color: #f4c95b; /* Old browsers */
    background-image: linear-gradient(to bottom,  #f4c95b 0%,#eea80c 100%); /* W3C */
    border-color:#db9b0c;
  }

.page article section .listview{
  margin:-10px -15px auto -15px; 
}
.listview li,
.listview ul{
  border-bottom:1px solid #dadada;
}
  .listview li{
    position:relative;
    padding:12px 40px 12px 15px;
  }
    .listview li h1,
    .listview li h2,
    .listview li h3,
    .listview li > label{
      font-size: 1.2857142em;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      font-weight:bold;
      text-transform:uppercase;
    }
    .listview li p{
      color:#696969;
      font-weight:100;
      font-size: .857142em;
      text-transform:uppercase;
    }
    .listview li .right{
      position:absolute;
      top:50%; right:15px;
      margin-top:-9px;
    }
      .listview li .right.double{ margin-top:-18px;}
      .listview li a .right{ right:30px; }
    
    .listview li img{
      width:60px;
      float:left;
      margin-right:10px;
      margin:-5px 5px -5px -5px;
    }

    .listview li a{
      position:relative;
      float:left;
      width:100%; height:100%;
      display:block;
      color:inherit;
      text-decoration:none;
      /* make it butt all the way up to the li */
      margin:-12px -40px -12px -15px;
      padding:12px 40px 12px 15px;
      background-color: #ffffff; /* Old browsers */
      background-image: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    }
      .listview li a:after{
        content:'';
        position:absolute;
        top:50%; right:8px;
        margin-top:-9px;
        display:block;
        width:11px; height:19px;
        background:url(/layout_imgs/mobile_sprite.png?v=2) no-repeat 0 -192px;
        clear:both;
      }
      
    .listview li a.inline{
      float:none;
      width:auto; height:auto;
      display:inline;
      margin:0;
      padding:0;
      background:none;
      filter:none;
    }
      .listview li a.inline:after{
        display:none;
      }

  /* clear anything that might be floated in the li */
  .listview li:after{
    content:'';
    display:block;
    clear:both;
    height:0;
  }

  .listview li:last-child{
    border-bottom:none;
  }


/* notification of empty */
.page section p:first-child:last-child{
  margin:15px 0;
  text-align:center;
}


/*
 * --- BUTTONS ---
*/
.button-holder a{
  color:#666;
  font-weight:100;
  font-size:14px;
  text-decoration:none;
  margin:0 15px;
}
.button-holder.right{
  text-align:right;
}

button,
a.button{
  display:inline-block;
  border:1px solid #498723;
  border-radius:5px;
  padding:10px;
  color:#fff;
  font-family:'Roboto Condensed';
  font-size:20px;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
  text-shadow:0 0 4px rgba(0,0,0,.8);
  text-decoration: none;
  cursor:pointer;
  background-color: #85af3f; /* Old browsers */
  background-image: linear-gradient(to bottom,  #85af3f 0%,#3a691c 100%); /* W3C */
}
  button:before,
  a.button:before{
    content:' ';
    background-image:url(/layout_imgs/mobile_sprite.png?v=2);
    background-repeat:no-repeat;
    display:inline-block;
    vertical-align:middle;
  }
  button span.title,
  a.button span.title{
    /* margin-left:5px; */
  }

  button.block,
  a.button.block{
    display:block;
    width:100%;    
  }

  button.blue,
  a.button.blue{
    background-color: #a3cae0; /* Old browsers */
    background-image: linear-gradient(to bottom,  #a3cae0 0%,#569dc6 100%); /* W3C */
    border-color:#4989ad;
  }

  button.yellow,
  a.button.yellow{
    background-color: #f4c95b; /* Old browsers */
    background-image: linear-gradient(to bottom,  #f4c95b 0%,#eea80c 100%); /* W3C */
    border-color:#db9b0c;
  }
  button.red,
  a.button.red{
    background-color: #ba2626; /* Old browsers */
    background-image: linear-gradient(to bottom,  #ba2626 0%,#7d1010 100%); /* W3C */
    border-color:#981313;
  }
  button.green,
  a.button.green{
    background-color: #85af3f; /* Old browsers */
    background-image: linear-gradient(to bottom,  #85af3f 0%,#38681b 100%); /* W3C */
    border-color:#509527;
  }
  button.grey,
  a.button.grey{
    border-color:#616161;
    background:linear-gradient(to bottom, #8A8A8A 0%, #4F4F4F 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  }

  header > button:first-child, 
  header > a.button:first-child, 
  a.button.grey,
  .content-page header a.button.grey{
    float:right;
    color: #fff;
    font-size:16px;
    margin:-10px -10px 0 0;
    border-color: rgba(97, 97, 97, 0.2);
    background-image: linear-gradient(to bottom, #8A8A8A 0%, #4F4F4F 100%);
    background-color: inherit;
    background-blend-mode: luminosity;
  }
  button[disabled],
  .button[disabled],
  a.button.disabled{
    pointer-events: none;
    opacity:.4;
  }

/*--- Button Icons ---*/
button.scoring:before,
a.button.scoring:before{
  width:26px;
  height:32px;
  background-position:0 -38px;
}
button.admin:before,
a.button.admin:before,
button.gear:before,
a.button.gear:before{
  width:25px;
  height:25px;
  background-position:0 -70px;
}
button.login:before,
a.button.login:before{
  width:20px;
  height:28px;
  background-position:0 -95px;
}
button.plus:before,
a.button.plus:before{
  width:21px;
  height:22px;
  background-position:0 -122px;
}
button.x:before,
a.button.x:before{
  width:19px;
  height:20px;
  background-position:0 -144px;
}
button.live:before,
a.button.live:before{
  width:16px;
  height:28px;
  background-position:0 -164px;
}

/*--- small buttons ---*/
button.small,
a.button.small{
  padding:8px;
  font-size:16px;
}
  button.small::before,
  a.button.small::before{
    transform:scale(.8);
  }

/*--- Buttons in Page Headers ---*/
#main-navbar button{
  border-radius:0;
}
  #main-navbar .left button{
    border-width:0 1px 0 0;
  }
  #main-navbar .right button{
    border-width:0 0 0 1px;
  }


/*
 *  --- LOADING ---  
*/
body.loading{
  -moz-animation:bgscroll .5s infinite linear;
  -webkit-animation:bgscroll .5s infinite linear;  
  animation:bgscroll .5s infinite linear;
}
  body.loading #loading + .overlay{
    display:block;
    top:0; left:0; /* overrides show-header settings */
  }

  /*-- scroll up the body background --*/
  @-moz-keyframes bgscroll {
    0% { background-position:0 0; }
    100% { background-position:0 -85px; }
  }
  @-webkit-keyframes bgscroll {
    0% { background-position:0 0; }
    100% { background-position:0 -85px; }
  }

  body.loading #loading{
    display:block;
  }


#loading{
  display:none;
  position:fixed;
  top:10%; left:50%;
  margin-left:-1.25em;
  font-family:'Roboto Condensed';
  font-size:78px;
  font-weight:bold;
  letter-spacing:-.02em;
  text-transform:uppercase;
  color:#373737;
  text-shadow:0 0 4px #fff;
  text-align:center;
  line-height:1.5em;
  width:2.564em;
  height:2.564em;
  border-radius:50%;
  background:rgba(255,255,255,.55);
  z-index:999999;
}
#loading + .overlay{ z-index:999998; }

  #loading .inner{
    position:relative;
    border-radius:50%;
    width:1.538em;
    height:1.538em;
    top:.128em; left:.128em;
    border:.4em solid rgba(34,144,196,.55);
    z-index:20;
  }
    #loading .inner:before{
      content: "";
      position:absolute;
      z-index:-1;
      background:rgba(255,255,255,.5);
      border-radius:50%;
      width:.6em; height:.6em;
      top:50%; left:50%;
      margin:-.3em;
      box-shadow:0 0 .4em .3em rgba(34,144,196,.8);
    }
  #loading .text{
    margin-left:-.89em;
  }

  #loading span{
    -webkit-animation: placeholder 1.8s ease-out infinite;
    -moz-animation: placeholder 1.8s ease-out infinite;
    animation: placeholder 1.8s ease-out infinite;
  }
  #loading span:nth-child(1){ -webkit-animation-name: loading-1; -moz-animation-name: loading-1; animation-name: loading-1; }
  #loading span:nth-child(2){ -webkit-animation-name: loading-2; -moz-animation-name: loading-2; animation-name: loading-2; }
  #loading span:nth-child(3){ -webkit-animation-name: loading-3; -moz-animation-name: loading-3; animation-name: loading-3; }
  #loading span:nth-child(4){ -webkit-animation-name: loading-4; -moz-animation-name: loading-4; animation-name: loading-4; }
  #loading span:nth-child(5){ -webkit-animation-name: loading-5; -moz-animation-name: loading-5; animation-name: loading-5; }
  #loading span:nth-child(6){ -webkit-animation-name: loading-6; -moz-animation-name: loading-6; animation-name: loading-6; }
  #loading span:nth-child(7){ -webkit-animation-name: loading-7; -moz-animation-name: loading-7; animation-name: loading-7; }

  @-moz-keyframes loading-1 { 14.28% { opacity: 0.3; } } 
  @-moz-keyframes loading-2 { 28.57% { opacity: 0.3; } } 
  @-moz-keyframes loading-3 { 42.86% { opacity: 0.3; } } 
  @-moz-keyframes loading-4 { 57.14% { opacity: 0.3; } }
  @-moz-keyframes loading-5 { 71.43% { opacity: 0.3; } }
  @-moz-keyframes loading-6 { 85.71% { opacity: 0.3; } }
  @-moz-keyframes loading-7 { 100% { opacity: 0.3; } } 
  @-webkit-keyframes loading-1 { 14.28% { opacity: 0.3; } } 
  @-webkit-keyframes loading-2 { 28.57% { opacity: 0.3; } } 
  @-webkit-keyframes loading-3 { 42.86% { opacity: 0.3; } } 
  @-webkit-keyframes loading-4 { 57.14% { opacity: 0.3; } }
  @-webkit-keyframes loading-5 { 71.43% { opacity: 0.3; } }
  @-webkit-keyframes loading-6 { 85.71% { opacity: 0.3; } }
  @-webkit-keyframes loading-7 { 100% { opacity: 0.3; } } 
  @keyframes loading-1 { 14.28% { opacity: 0.3; } } 
  @keyframes loading-2 { 28.57% { opacity: 0.3; } } 
  @keyframes loading-3 { 42.86% { opacity: 0.3; } } 
  @keyframes loading-4 { 57.14% { opacity: 0.3; } }
  @keyframes loading-5 { 71.43% { opacity: 0.3; } }
  @keyframes loading-6 { 85.71% { opacity: 0.3; } }
  @keyframes loading-7 { 100% { opacity: 0.3; } } 


img.loading{
  display:block;
  margin:10px auto;
}




#overlay,
.overlay{
  display:none;
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.5);
  z-index:10;
}

  /* if the overlay is showing due to loading, crank it over popups */
  .loading #overlay,
  .loading .overlay{ z-index:999999; }
  

.panel > header,
#admin-menu > header{
  border-radius:5px 5px 0 0;
  padding:15px 15px 10px 15px;
  background-color:#ee7c0b;
  background-image: linear-gradient(to bottom,  #f29e40 0%,#ee7c0b 100%); /* W3C */
}
  .panel header h1,
  #admin-menu > header h1{
    font-size:18px;
    font-weight:bold;
    color:#fff;
    text-shadow:0 0 2px rgba(0,0,0,.6);
  }

  .panel header h1 a{ color:#fff; }

  .panel header a.close,
  #admin-menu > header a.close{ 
    display:block;
    position:absolute;
    top:18px; right:10px;
    overflow:hidden;
    width:14px; height:14px;
    text-indent:-999px;
    background:url(/layout_imgs/mobile_sprite.png?v=2) no-repeat 0 -211px;
  
    opacity: 1;
}

.panel article{
  padding:0;
  margin:0 !important;
  color:#696969;
}
  .panel article.content{
    padding:8px 10px;
  }
  .panel .content h2{
    font-size:18px;
    margin-bottom:5px;
  }
  .panel .content p{
    line-height:1.2em;
    margin-bottom:10px;
  }

.panel .button-holder{
  border-radius:0 0 5px 5px;
  background:#c4c4c4;
  border-top:1px solid #b5b5b5; 
}
  .panel .content .button-holder{
    margin:15px -10px -8px -10px;
  }

  .panel .button-holder button{
    border-radius:0 0 0 0;
    border-width:0 0 0 1px;
  }
  .panel .button-holder button:last-child{
    border-radius:0 0 4px 0;
  }

  .panel .button-holder .close{
    float: none;  
    opacity: 1;
    text-shadow: none;
  }

/* used with a bootstrap modal */
.modal .panel{
  position: static;
  display:block;
  width: 100% !important;
  left:0;
  box-shadow:none;
}
  .modal .panel header a.close{ display:block !important; }

  .modal .panel article{
    padding-bottom:10px;
  }

  /* why wasn't this in bootstrap? */
  .modal-backdrop{
    bottom:0;  
    position: fixed;
}



/*
 *  STATUS INDICATORS ---------
*/
.status-indicator{
  display:block;
  width:18px; 
  height:18px;
  background:url(/layout_imgs/mobile_sprite.png?v=2);
  background-position:0 -274px;
}
.status-indicator.off, .status-indicator[data-status="off"]{ background-position:0 -274px; }
.status-indicator.half, .status-indicator[data-status="half"]{ background-position:-18px -274px; }
.status-indicator.on, .status-indicator[data-status="on"]{ background-position:-36px -274px; }

.listview .status-indicator{
  position:absolute;
  right:10px;
  top:50%;
  margin-top:-9px;
}



/*
 *  LISTVIEWS IN FORMS
*/
form .listview li > label,
form .listview li h2{
  display:block;
  float:left;
  width:50%;
  margin-top:12px;
}
form .listview fieldset{
  display:block;
  float:right;
  width:50%;
  border-radius:5px;
  box-shadow:0 0 2px rgba(0,0,0,.6);
}

form .listview fieldset input,
form .listview fieldset select,
form .listview fieldset textarea,
form .listview .fieldset input,
form .listview .fieldset select,
form .listview .fieldset textarea,
.score-edit-form input,
.score-edit-form select,
.score-edit-form textarea{
  box-sizing: border-box;
  border-radius:5px;
  width: 100%;
  border:none;
  font-family:'Roboto Condensed';
  font-size: 1.28571428em;
  padding: .5em;
  color:#666;
}
  form .listview fieldset select,
  form .listview .fieldset select,
  .score-edit-form select{
    width:100%;
  }


/* multiple fieldset */
form .listview fieldset.multiple input,
form .listview fieldset.multiple select{
  float:left;
  width:auto;
  border-radius:0;
  border-right:1px solid #bcbcbc;
}
  form .listview fieldset.multiple input:first-child,
  form .listview fieldset.multiple select:first-child{
    border-radius:5px 0 0 5px;
  }
  form .listview fieldset.multiple input:last-child,
  form .listview fieldset.multiple select:last-child{
    border-radius:0 5px 5px 0;
    border-right:0;
  }

  form .listview fieldset.multiple *{
    box-sizing: border-box; /* css3 rec */
    -moz-box-sizing: border-box; /* ff2 */
    -ms-box-sizing: border-box; /* ie8 */
    -webkit-box-sizing: border-box; /* safari3 */
    -khtml-box-sizing: border-box; /* konqueror */    
  }

  form .listview fieldset + p{
    margin-top:10px;
  }

@media only screen and (max-width: 767px){
  form .listview li h2,
  form .listview li > label,
  form .listview fieldset{
    float:none !important;
    width:auto !important;
  }
  form .listview li h2,
  form .listview li > label{ margin:0 0 8px 0 !important; }
}


/*
 *  Button Groups
*/
.btn-group{
  position:relative;  
}
  .btn-group.disabled{ opacity:.5; }
  
.btn-group label{
  position:relative;
  cursor:pointer;
  display:block;
  font-size:20px;
  font-weight:bold;
  color:#878787;
  text-shadow:1px 1px 0 #fff;
  padding:10px 0;
  text-align:center;
  background-color:#c5c5c5;
  background-image:linear-gradient(to bottom,  #e1e1e1 0%,#c5c5c5 100%);
  border-style:solid;
  border-color:#c0c0c0;
  border-width:0 0 1px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  .btn-group label:first-child { border-radius:5px 5px 0 0; }
  .btn-group label:last-child{ border-radius:0 0 5px 5px; }

  .btn-group label.checked,
  .btn-group label.active{
    color:#fff;
    text-shadow:1px 1px 0 #1f98ec;
    background-color:#1f98ec;
    background-image: linear-gradient(to bottom,#9ce0fa 0%,#1f98ec 100%); /* W3C */
    border-color:#1c84c9;
  }

@media(min-width:300px){ /* was 600 */
  .btn-group{
    display:flex;   
    flex-wrap:wrap;
  }
    .btn-group label{
      flex:1 1;
      border-width:0 1px 0 0;      
    }
    .btn-group label:first-child{ border-radius:5px 0 0 5px; }
    .btn-group label:last-child{ border-radius:0 5px 5px 0; }
}


/*
 *  Table Subsections
*/
table.subsection{
  box-sizing:border-box;
  table-layout: fixed;
  width:100%;
  clear:both;
  position:relative;
  margin:10px;
  background:#f7f7f7;
  border:1px solid #c6c6c6;
  border-radius:5px;
  border-collapse:collapse;
}
  table.subsection thead{
	border-bottom:1px solid #b8b8b8;
	border-radius:5px 5px 0 0;
  background-color: rgba(104,104,104,.03);
	background-image: linear-gradient(to bottom,  rgba(163,163,163,0.3) 0%,rgba(104,104,104,0.3) 100%); /* W3C */
  }
    table.subsection thead th{
      padding:8px 12px;
      font-size:1.2em;
      font-weight:bold;
      text-transform:uppercase;    
      line-height: 2em;
    }

  table.subsection tbody td,
  table.subsection tbody th{
    padding:12px 15px;
    border-bottom:1px solid #dadada;
  }
    table.subsection tbody th{
      font-weight:bold;
    }



blockquote > cite{
  display:block;
  margin-top:.25em;
  text-align:right;
}

pre{
  display: block;
  font-family: monospace;
  padding: 9.5px;
  margin: 10px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align:left;
}