/*
		PHONES BOTH ORIENTATIONS
*/
@media only screen and (max-width: 767px){
	body > footer,
	#index .notes{
		margin:20px 2% 40px 2%;
		text-align:center;
	}

	#season-notifier p{
		font-size:1em !important;
	}
	#season-notifier p:before{
		display:none !important;
	}
	#season-notifier button{
		position:relative;
		display:block;
		margin:10px 0 5px -93px !important;
		left:50%;
		font-size:1.2142em !important;
	}
}

/*
		TABLETS (BLEEDS INTO DESKTOP)
*/
@media only screen and (min-width: 768px){
	.page article{
		padding:0 0 0 0;
		margin:2%;
	}

	#index .machine-holder,
	#index .player-holder,
	#players .nights-holder,
	#players .machine-holder,
	#home article > section{
		display:inline-block;
		vertical-align:top;
	}
		#index .randomizer-holder,
		#index .division{
			width:98%;
		}
		#index .machine-holder{
			width:36%;
			margin-right:2%;
		}
		#index .player-holder{
			width:61%;
		}
		
	#players .nights-holder{
		width: 50%;
		margin-right:2%;
	}
	#players .machine-holder{
		width: 48%;
	}

	body > footer,
	.page article .notes{
		margin:20px 2% 40px 2%;
		text-align:center;
		z-index:1;
	}

}

/*
		DESKTOP
*/
.panel{
	display:none;
}
@media only screen and (min-width: 1025px){  
	.page > article{
		margin:0;
		padding-top:15px;
	}

	.page article .notes{
		margin:20px 2% 40px 22%;
		text-align:center;
	}
	
	/* break the nights panel out of a popup */
	#main-navbar .select-trigger{ cursor:default; } 
	#main-navbar .select-trigger div:after{ display:none; }

	#nights-panel,
	#scoring-machine-panel,
	#players-panel,
	#admin-nights-panel,
	#order-admin-nights-panel,
	#admin-seasons-panel,
	#admin-machines-panel,
	.panel{
		position:absolute;
		display:block !important;
		margin:0;
		top: 15px; 
		left:1%;
		width:20%;
		z-index:auto;
		box-shadow:1px 1px 5px rgba(0,0,0,.7);
	}
		#nights-panel .pointer,
		#nights-panel .close,
		#scoring-machine-panel .pointer,
		#scoring-machine-panel .close,
		#players-panel .pointer,
		#players-panel .close,
		#admin-nights-panel .pointer,
		#admin-nights-panel .close,
		#admin-users-panel .pointer,
		#admin-users-panel .close,
		#order-admin-nights-panel .pointer,
		#order-admin-nights-panel .close,
		#admin-seasons-panel .pointer,
		#admin-seasons-panel .close,
		#admin-machines-panel .pointer,
		#admin-machines-panel .close,
		.panel .pointer,
		.panel .close{
			display:none; 
		}

	#nights-panel header,
	#scoring-machine-panel header,
	#players-panel header,
	#admin-nights-panel header,
	#order-admin-nights-panel header,
	#admin-seasons-panel header,
	#admin-machines-panel header,
	.panel header{ 
		padding:15px; 
	}

	#nights-panel header h1,
	#scoring-machine-panel header h1,
	#players-panel header h1,
	#admin-nights-panel header h1,
	#order-admin-nights-panel header h1,
	#admin-seasons-panel header h1,
	#admin-machines-panel header h1,
	.panel header h1{ 
		font-size:20px; 
	}

	#nights-panel article,
	#scoring-machine-panel article,
	#players-panel article,
	#admin-nights-panel article,
	#order-admin-nights-panel article,
	#admin-seasons-panel article,
	#admin-machines-panel article,
	.panel article{
		padding-bottom:10px; 
	}

	#index .randomizer-holder{
		width:76%;
		margin-left:22%;
	}

	#index .division,
	#players .head-to-head-holder {
		width:76%;
		margin-left:22%;
	}
	
	#players .nights-holder{
		width: 37.5%; 
		margin:0 1% 0 22%;
	}
	
	#players .machine-holder{
		width: 37.5%; 
	}
	
	#players .head-to-head-holder{
		margin-top:15px;
	}
	
	#scoring .scoring-form,
	#user_admin .user-form,
	#night_admin .night-form,	
	#night-order-admin .order-form,
	#season_admin .season-form,
	#machine_admin .machine-form,
	#score-admin .score-editor-holder{
		margin:auto 2% auto 23%;
	}
	
}



strong{ 
	font-weight:bold; 
}

em{
	font-style: italic;
}

abbr{
	cursor:help;
	border: 1px dotted #aaa;
	border-width: 0 0 1px 0;
}

/* player subs */
.listview li span.sub{
	margin-left:5px;
	font-weight:normal;
	font-size:.9em;
	color:#aaa;
	text-transform: none;
}
.listview li span.sub:before{
	content:'*';
}

.page article .notes{
	color:#e1e1e1;
	font-size:14px;
	line-height:18px;
	text-shadow:1px 1px 3px rgba(0,0,0,.4);
}

/*
 *  General Content Pages
*/
.content-page article{
	margin:0;
	padding:0;
	z-index:1;
}
.content-page article header{
	position:relative;
	margin-top:10px;
	background-color:#0f0f0f;
	box-shadow:0 0 4px rgba(0,0,0,.6);
}
	.content-page article header .bg{
		background-position:50%;
		background-size:cover;
		background-repeat:no-repeat;
		position:absolute;
		top:0; right:0;
		bottom:0; left:0;
		z-index:1;
		opacity:.5;
	}
	.content-page article header .logo{
		position:relative;
		text-align:center;
		padding:10% 0;
		z-index:2;
	}
		.content-page article header h1{
			position:relative;
			font-size:0;
		}
			.content-page h1 img{
				max-width:98%;
				max-height:180px;
			}

		.content-page header a.button{
			position:relative;
			left:8px;
			display:block;
			text-decoration:none;
			max-width:260px;
			margin:0 auto;
			font-size:16px;
			background-color: #5aa52b;
			background-image:none;
			transition: all 1s ease;
		}
			.content-page header a.button:hover{
				box-shadow:0 0 12px 1px rgba(0,255,0,.8);
			}

.content-page .content{
	padding:20px;
	margin:10px 10px;
	max-width:920px;
	background:#fff;
	/* box-shadow:0 0 4px rgba(0,0,0,.6); */
}
	@media(min-width:980px){
		.content-page .content{
			margin:10px auto;
		}
	}

.content-page .content p,
.content-page .content ul,
.content-section .content p,
.content-section .content ul{
	font-weight:300;
	font-size:1.1428em;
	line-height:1.45em;
	margin-bottom:.8em;
}
	/* I know it's shitty markup, but its auto-generated */
	.content-page .content p ul{
		font-size:1em;
	}

.content-page .content ul{
	list-style:disc;
	padding-left:2em;
}

.content-page .content h1,
.content-page .content h2{
	font-size: 1.5714em;
	color:#707070;
	margin-bottom:.25em;
}
.content-page .content h2{
	font-size: 1.4285em;
	color: #8C8C8C;
}
.content-page .content a,
.content-section .content a,
.listview li a.inline{
	color:#6A9FB4;
}

/*
 *	Page Editor
*/
#page-editor{
	position:relative;	
	margin: -20px;
	margin-bottom: 20px;
	background: #eee;
	border-bottom: 1px solid #aaa;
	font-size: .8em;
}
	#page-editor header{
		background: #eee;
		box-shadow:none;
		text-align: right;
		margin: 0;
	}
		#page-editor header a{
			float:none;
			display:inline-block;	
			margin: 5px;
			left: 0;
			box-shadow: none;
		}

	#page-editor form{
		border-top:1px solid #aaa;
		margin: 20px;
	}
		#page-editor form h2{
			font-size: 1.285714rem;
			margin-bottom:0;
			margin-top:15px;
		}
		#page-editor form p{
			font-size:1rem;
		}

		#page-editor form .listview ul{
			margin:0;
			padding:0;
			list-style:none;
		}
			#page-editor form .listview li{
				padding:.5em;
			}

		#page-editor form fieldset.full{
				float: none;
			width: 100%;		
				line-height: 0;
		}

		#page-editor form textarea#content{
			min-height:400px;
			font-family: monospace;
		}

	#page-editor .button-holder{
		margin-top:15px;
	}

#markdown-help .enhanced .table tbody th{
	white-space:nowrap;
}
#markdown-help .variables tbody th::before{ content:'{{ '; }
#markdown-help .variables tbody th::after{ content:' }}'; }
#markdown-help .templates tbody th::before{ content:'^ '; }
#markdown-help .templates tbody th::after{ content:' ^'; }

/*
 *  Home Page
*/
#home .content .machine-list{
		line-height: 1.2em;
}
#home .content .machine-list li{
	margin-bottom:.75em;
}
	@media(min-width:500px){
			#home .content .machine-list{    
				-moz-column-count: 4;
				-moz-column-width: 150px;
				-webkit-column-count: 4;
				-webkit-column-width: 150px;
				column-count: 4;
				column-width: 150px;
			}
			#home .content .machine-list::after{
				content:'';
				display:table;
				clear:both;
			}
	}

#home .content .view-rankings{
	display:block;
	color:#fff;
	text-decoration:none;
	margin:20px 0 0 0;
	padding:15px 10px;
}


/*
 *  Change Log
*/
#changelog section{
	border-radius:0;
	box-shadow: none;
}

#changelog #log{
	margin-top:30px;
}

#changelog .push{
	margin-bottom:2em;
}
	#changelog .push > time{
		display:block;
		font-weight:bold;
		font-size:18px;
		line-height:1.3em;
		margin-bottom:.5em;
	}

	#changelog .commit + .commit{
		margin-top:.25em;    
		padding-top:1em;
	}

		#changelog .msg{
			font-size:16px;
			text-transform:none;
			color:#808080;
			white-space:normal;
			line-height:1.2em;
			margin-bottom:6px;
		}

		#changelog .commit_id{
			float:right;
			color:#aaa;
			max-width:60px;
			white-space:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
			top:16px;
			margin:0;
		}
		
		#changelog .committed{
				font-size:12px;
				color:#919191;
				text-transform:uppercase;
		}

	#changelog .curse{
		color:transparent;
		text-shadow:0 0 6px #808080;
	}

@media(min-width:960px){
	#changelog .push{
		position:relative;
		padding-left:110px;
		margin-bottom:3em;
	}
		#changelog .push > time{
			position:absolute;
			left:0;
			border:none;
			font-size:18px;
			font-weight:normal;
			text-transform:uppercase;
		}
}

/*
 *  Season Notifier
*/
#season-notifier{
	text-align:center;
	padding:5px 0;
	color:#fff;
	background-color: rgb(169,3,41); /* Old browsers */
	background-image: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(109,0,25,1) 100%); /* W3C */
}
	#season-notifier p{
		font-size:1.2142em;
	}
		#season-notifier p:before{
			content:' ';
			display:inline-block;
			height:28px;
			width:11px;
			vertical-align:middle;
			margin-right:10px;
			background:url(/layout_imgs/mobile_sprite.png) 0 -309px no-repeat;      
		}
	#season-notifier span{
		font-weight:bold;
		font-size:1.2em;
	}
	#season-notifier button{
		font-size:1em;
		padding:6px 10px;
		margin-left:10px;
		vertical-align:middle;
	}

#season-changer{
	margin-top:10px;
	opacity:.6;
}
	#season-changer label{
		color:#fff;
	}




/*
 *	Push Notifications
*/
#notifications{
	margin: 40px;
}

.switch{
	color:rgba(255,255,255,.9);
	text-shadow:1px 1px 1px rgba(0,0,0,.4);
	cursor:pointer;
	position: relative;
	/* padding: 10px 20px; */
	/* background: rgba(0,0,0,.1); */
	/* border-radius: 5px; */
}
	.switch input {
    	display:none;
	}
	.switch i {
		display: inline-block;
		vertical-align:middle;
		cursor: pointer;
		padding-right: 20px;
		margin-right:5px;
		transition: all ease 0.2s;
		border-radius: 20px;
		box-shadow: inset 0 0 1px rgba(0,0,0,.6);
		background:rgba(127,127,127,.7);
	}
	.switch i:before {
		display: block;
		content: '';
		width: 20px;
		height: 20px;
		border-radius: 20px;
		background: white;
		box-shadow: 0 1px 2px rgba(0,0,0,.5);
	}
	.switch :checked + i {
		padding-right: 0;
		padding-left: 20px;
		background:rgba(127,127,127,.5);
		box-shadow: inset 0 0 3px rgba(0,0,0,.8), inset 0 0 40px rgba(166, 244, 43, .8);
	}

	.switch [disabled] + i{
		opacity:.5;
		cursor:not-allowed;
	}	

.switch .loader{
	display:inline-block;
	vertical-align:middle;
	font-size:2px;
	left:4em;
	top:-3em;
}

/*
 * Dialogs
*/
.dialog.error header,
.modal-dialog .error header{
	background-color:#cf0404;
	background-image: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
}
.dialog .content div{
	line-height:1.3em; 
}
	.dialog .content blockquote{
		font-family:monospace;
		font-size:.9em;
		border-left:4px solid rgba(0,0,0,.15);
		padding:8px;
	}

/*
 *  footer and links
*/
body.loading > footer{
	display:none;
}
	body > footer nav li{
		display:inline-block;
		margin-right:10px;
		margin-bottom:10px;
	}
		body > footer nav li a{
			display:inline-block;
			color:#eee;
			padding:5px 8px;
			text-decoration:none;
			/* letter-spacing: -.02em; */
			border-radius:5px;
			background:rgba(0,0,0,.1); 
		}
		body > footer nav li a:hover{
			background:rgba(0,0,0,.2);
		}

/*
 *  Reconnect Message
*/
#reconnect_msg{
	position:fixed;
	bottom:0;
	width:100%;
	padding:10px 0;
	color:#aaa;
	text-align:center;
	background-color: #5a5a5a; /* Old browsers */
	background-image: linear-gradient(to bottom,  #5a5a5a 0%,#2f2f2f 100%); /* W3C */
	box-shadow:0 -2px 2px rgba(0,0,0,.5);
	z-index:5;
}
	#reconnect_msg img{
		vertical-align:bottom;
		margin-right:5px; 
	}

/*
 * --- INDEX : PLAYER HOLDER ---
*/
.prev-machine-picks{}
	.prev-machine-picks li{
		color:#808080;
		display:flex;
		align-items:center;
		width:100%;
		box-sizing:border-box;
		padding:5px 5px 5px 10px;
	}
		.prev-machine-picks li h4{ 
			flex:1; 
			line-height:inherit;
		}
		.prev-machine-picks li abbr{ 
			box-sizing:border-box;
			width:50px;
			padding-top:42px;
			padding-bottom:8px;
			padding-left:2px;
			line-height:0;
			color:#fff;
			text-align:left;
			font-weight:bold;
			text-shadow:1px 1px 1px rgba(0,0,0,.5);
			background-size:100%;
			background-repeat:no-repeat;		
			display: inline-block;
		}
		.prev-machine-picks li abbr + abbr{ margin-left:5px;}


.player-holder .listview ul:before,
#player-order .divider{
	box-sizing:border-box;
	content:'group #'attr(data-group);
	display:block;
	width:100%;
	background:#9f9f9f;
	border-top:1px solid #8b8b8b;
	border-bottom:1px solid #b3b3b3;
	text-transform:uppercase;
	font-weight:bold;
	font-size:.7em;
	padding:2px;
	color:#666;
}
	.player-holder .listview ul li:last-child{
		border-bottom:none;
	}
.player-holder .listview li h3{
	text-transform:none; 
}
.listview li .score{
	font-size:18px;
	font-weight:bold;
	letter-spacing:-.04em;
	color:#775737;
	text-align:center;
	line-height:.9em;
}
	.listview li .score span{ display:block; }
    .listview li .score .night-score{ color:#775737; }
	.listview li .score .total-score{ color:#98724b; }


	/*-- players scores --*/
.player-holder .player-points{
	position:relative;
	margin:5px 10px 0 10px;
	max-width:600px;
}
	.player-holder li p.player-points .player-machine{
		display:inline-block;
		width:20%;
		text-align:center;
		color:#a7a7a7;
		font-weight:100;
	}
	.player-holder li p.player-points .abbv{
		display:block;
		font-weight:bold;
		color:#939393;
		margin-bottom:2px;
	}
	.player-holder li p.player-points .machine-points:empty::after{
		content:'-';
	}

	.player-holder li p.player-points .picked span{
		color: darkseagreen;
	}
	.player-holder li p.player-points .abbv[data-abbv="DNS"]{
		color: chocolate;
	}

/* user logged in highlight in player list */
.player-holder li.user h3:before,
.listview li.starred h3:before{
	content:'';
	display:inline-block;
	width:21px; height:22px;
	background:url(/layout_imgs/mobile_sprite.png) no-repeat 0 -225px;
	vertical-align:middle;
	margin-right:5px;
}

/* if there's any ties highlight them */
.player-holder li.tied a:before{
	content:'tied';
	text-transform:uppercase;
	font-size:18px;
	font-weight:bold;
	color:#ee7c0b;
	text-shadow:1px 1px 1px rgba(0,0,0,.4);
	float:left;
	margin:4px 5px 0 -5px;
}
	.player-holder li.tied.even a:before{
		color:#8ad626;
	}

/* if there are preset DNPs */
.player-holder li.dnp,
.players li[data-dnp="1"]{
	opacity:.5;
}
	.player-holder li.dnp h3::after,
	.players li[data-dnp="1"] h2::after{
		content:'DNP';
		font-weight:bold;
		color:#900;
		margin-left:.25em;
		text-shadow:1px 1px 1px rgba(0,0,0,.4);
	}
	
/* highlight the live night on index */
#nights-panel .listview li.live a:before{
	content:'';
	display:block;
	float:left;
	width:16px; height:28px;
	margin:2px 5px 0 -5px;
	background:url(/layout_imgs/mobile_sprite.png) 0 -164px;
}

/* divisions */
#index .division{
	box-shadow:none;
	background:rgba(0,0,0,.1);
	margin-bottom:0;
}
	#index .division + .division{
		border-top:1px solid rgba(0,0,0,.1);
		border-radius:0 0 5px 5px;
	}
	#index .division > header{
		background:none;
		border:none;
		font-size:.8em;
		padding:8px;
		opacity:.75;
	}
		#index .division > header h1{
			font-size:1.5em;
		}
	#index .division > .content{
		background:none;
		padding-top:0;
	}

#index .division.single{
	background:none;
}
	#index .division.single > header,
	#scoring-live-panel .division.single > header{
		display:none;
	}
	#index .division.single > .content,
	#scoring-live-panel .division.single > .content{
		padding:0;
	}


#scoring-live-panel .division {
	margin-bottom:0;
	box-shadow:none;
	border-radius:0;
}
	#scoring-live-panel .division header{
		border-radius:0;
		padding:2px 6px;
		background:#9f9f9f;
		border-bottom:1px solid #b3b3b3;
		border-top:1px solid #8b8b8b;
	}
		#scoring-live-panel .division h1{
			font-size:.85em; 
			text-shadow:none;
			color:#626262;
		}

#scoring-live-panel .division .content{
	padding-bottom:0;
}

#scoring-live-panel .division .listview ul:first-child::before{
	content:none;
}


/*
 * --- ADMIN Menu ---
*/
#admin-menu-holder{
	position:fixed;
	top:0;
	left:0;
	width:0;
	height:100%;
	overflow-y:auto;
	z-index:9999;
	transition:all .5s ease;
}
	#admin-menu-holder .bg{
		position: fixed;
		top:0; left:0;
		background:#000;
		opacity:0;
		transition:opacity .5s ease;
	}

#admin-menu{
	display:block;
	position: absolute;
	left: 0;
	top: 0;
	width:300px;
	min-height: 100%;
	border-radius: 0;
	background: #e7e7e7;
	transform: translate3d(-300px,0,0);
	trasition: all .5s ease;  
}

#admin-menu p.note{
	padding:15px;
	font-size:1.1em;
	line-height:1.4em;
	color:#808080;
	text-shadow:1px 1px 1px #fff;
	text-align:Center;
}

.amo #admin-menu-holder{
	width:100%;
}
	.amo #admin-menu-holder .bg{
		opacity:.5;
		width:100%;
		height:100%;
	}
	.amo #admin-menu{
		transform: translate3d(0,0,0);
	}

	#admin-menu > header{
		border-radius: 0;
	}
	
/* panels for categories */
#admin-menu article h1,
.listview > h2{
	padding:10px;
	font-size:16px;
	font-weight:bold;
	color:#878787;
	text-shadow:0 0 2px #fff;
	border:1px solid #d5d5d5;
	border-left:none;
	border-right:none;
	background-color: #dfdfdf;
	background-image: linear-gradient(to bottom,  #fafafa 0%,#dfdfdf 100%); /* W3C */
}
	#admin-menu section > h1:first-child{ border-top:none; }

#admin-menu header h1 a{
	display:inline-block;
	width:18px; height:16px;
	overflow:hidden;
	text-indent:-999999px;
	margin:0 15px 0 0;
	background:url(/layout_imgs/mobile_sprite.png) no-repeat 0 -292px;
}

#admin-menu .listview h3{ font-size:16px; }
#admin-menu .listview p{
	font-size:12px;
	color:#919191;
	text-transform:uppercase;
}

#admin-menu article h2{
	background:#e9e9e9;
	padding:7px 10px;
	font-size:12px;
	color:#878787;
	border-top:1px solid #dadada;
	border-bottom:1px solid #d5d5d5;
	margin-bottom:0; /* undo popup .content h2 */
}

#admin-menu .button-holder{
	padding:10px;
	background:none;
	border-radius:0;
	border-top: none;
}
#admin-menu button,
#admin-menu .button{
	box-sizing:border-box;
	display:block;
	width: 100%;
	border-radius:4px;
	margin: 0;
}

#admin-menu span.count{
	float:right;
	width:22px;
	line-height:22px;
	margin:10px 10px 0 0;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	letter-spacing:-.08em;
	color:#fff;
	background:#878787;
	border-radius:50%;
	box-shadow:inset 0 0 8px rgba(0,0,0,.35);
}
	#admin-menu span.count.red{
		background:#b00;
	}

/*-- scoring styles ---*/
#admin-menu section.scoring{
	
}



/*-- admin panel scoring groups --*/
#admin-menu .scoring-groups a:after{ display:none; }
#admin-menu .scoring-groups p.machines{
	margin-top:3px; 
}
#admin-menu .scoring-groups p.machines span.abbv{
	display:inline-block;
	margin-right:10px;
	letter-spacing:.04em;
	color:#b5b5b5;
}
#admin-menu .scoring-groups p.machines span.abbv.done{
	font-weight: bold;
	color:#919191;
}

#admin-menu .scoring-groups .status-indicator{
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-9px;
}

#admin-menu img.loading{
	display:block;
	padding: 15px;
	opacity:.4;
	margin: 0 auto;
}



/* 
		SCORING PAGE
*/
/* hide link arrows in machine panel to make room for indicator */
#scoring-machine-panel .listview a:after{ display:none; }

#scoring header .btn-group{
	float:right;
		margin:-5px -10px 0 0;
		background-color: #4f4f4f;
		background-image:linear-gradient(to top, #8A8A8A 0%, #4F4F4F 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		border-radius:5px;
	display: inline-flex;
}
	#scoring header .btn-group label{
		flex: 0 1 auto;
		padding:10px;
		font-size:16px;
		font-weight:bold;
		text-shadow:none;
		white-space:nowrap;
			border-color:#616161;
		background:none;
	}
	#scoring header .btn-group label.active{
		background-color: #4f4f4f;
		background-image:linear-gradient(to bottom, #8A8A8A 0%, #4F4F4F 100%);
	}

#scoring p.machine-notes{
	font-size:14px;
	color:#6f6f6f;
	line-height:1.4em;
	margin:-10px -15px 10px -15px;
	padding:10px 15px;
	border-bottom:1px solid #dadada;
}

#scoring .picker{
	margin:-10px -15px 0 -15px;
	padding:15px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:1.25em;
	color:#666;
	border-color: #d0d0d0;
	background: #e3e3e3;
	border-style: solid;
	border-width: 1px 0;
}
	#scoring .picker fieldset + fieldset{
		margin-top:1em;
	}
		#scoring .picker label{
			display:block;
			margin-bottom:.25em;
		}
			#scoring .picker label::after{ content:':'; }

		#scoring .picker select{
			font-size:1em;
			padding:5px;
			border-radius:5px;
			display:block;
			width:100%;
		}

	#scoring .picker + .machine-notes + .players{ margin-top:0; }

	@media(min-width:700px){
		#scoring .picker label,
		#scoring .picker select,
		#scoring .picker fieldset{
			display:inline-block;
			width:auto;
			margin-right:5px;
		}
			#scoring .picker fieldset + fieldset{ margin-top:0; }
	}

#scoring .scoring-form,
#tiebreaker .tiebreaker-form{
	margin-bottom:40px;
}

#scoring .players li{
	padding:12px 15px 12px 40px;
	position:relative;
}
#scoring .players li span.number{
	position:absolute;
	top:50%; left:10px;
	margin-top:-13px;
	font-size:26px;
	font-weight: bold;
	color:#98724b;
	letter-spacing:-.06em;
}
#scoring .players li span.number:after{ content:'.'; }

#scoring .players li.dnp{
	opacity:.6;
}

.scoring_error ul{
		list-style: disc inside;	
		padding-left: 10px;
		line-height: 1.4em;
}
	.scoring_error ul li{
		margin-bottom:.1em;
	}



#scoring .scoring-form button[type="submit"],
#tiebreaker .tiebreaker-form button[type="submit"]{
	min-width:100px;
}

/*--- confirmed ---*/
label.confirmed{
	display:block;
	color:#515151;
	font-size:20px;
	text-transform:uppercase;
	font-weight:bold;
	cursor:pointer;
	padding:15px !important;
}
.confirmed input{
	display:none; 
}
.confirmed .status-indicator{
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}

/* machine not choosen yet */
#scoring-machine-panel li.nope{}
	#scoring-machine-panel li.nope h2{
		font-size:1em;	
		line-height: 2em;
	}
	
	#scoring-machine-panel li.nope p{
		display:none;
	}

/*
 *    PLAYERS PAGE
*/
.chart{
	height:300px;
	width:100%;  
}

#players .nights-holder p.note{
	text-align:center;
	font-weight:300;
	color:#aaa;
	font-size:.9em;
	margin-bottom:10px;
}

#players .nights-holder fieldset{
	position:relative;
	display:inline-block;
	width:48%;
	text-align:center;
	margin:10px 0 10px 1%;
	padding:15px 0;
	font-family:'Roboto Condensed';
	font-size:18px;
	font-weight:100;
	border-radius:5px;
	background:#fff;
	box-shadow:0 0 1px #8b8b8b;
	/* cursor:pointer; */
	opacity:1;
}
	#players .nights-holder .points{
		margin-left:1%;
	}
	#players .nights-holder fieldset legend{
		width:100%;
		text-transform:uppercase;
		text-align:center;
		font-weight:bold;
		border-radius:5px 5px 0 0;
		padding:5px 0;
		background:#8b8b8b;
		color:#fff;
	}

#players .nights-holder fieldset:before{
	content:' ';
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:10px;
	border-radius: 5px 0 0 5px;  
	opacity:.8;
}
	#players .nights-holder fieldset.points:before{
		background:#699DB1;
	}
	#players .nights-holder fieldset.place:before{
		background:#D3C9A9;
	}

#players .nights-holder fieldset.faded{
	opacity:.5;
}


#players .nights-holder .listview{
	border-top:1px solid #dadada;
	margin-top:5px;
}

@media(min-width:768px){
	#players .nights-holder{
		float:left;
		margin-bottom:15px;
	}
		#players .head-to-head-holder{
			clear:left;
		}
}


/*--- Machine Picks ---*/
.machine-picks .machine{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	margin-bottom:10px;
	margin-right:10px;
	width:80px;
	overflow:hidden;
}
	.machine-picks .machine .thumb{ 
		position:relative; 
		display:inline-block;
		line-height:0;
		font-weight:bold;
	}
		.machine-picks .machine .thumb span{
			position:absolute;
			bottom:0;
			color:#fff;
			line-height:1em;
			text-shadow:1px 1px 1px rgba(0,0,0,.5);
		}
			.machine-picks .machine .thumb .abbv{
				left:2px;
				padding:0;
				text-align:left;		
			}
			.machine-picks .machine .thumb .count{
				right:2px;
				font-size:1.8em;
			}

	.machine-picks .machine h1{
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}


	.machine-picks .machine time{
		color: #B0B6B8;
		font-size: .95em;
		letter-spacing: -.04em;
		line-height: 1em;
		display:block;
	}

/*--- Machines Chart ---*/
#players-machines-chart,
.head-to-head-holder table{
	height:auto;
	text-align:left;
	margin-bottom:20px;
}
	#players-machines-chart thead th{
		border-bottom:1px solid #ccc;
		padding-bottom:4px;
	}
		#players-machines-chart .legend{ display:inline; }
		#players-machines-chart thead th label{
			text-transform:uppercase;
			margin-right:5px;
		}
		#players-machines-chart #machines-compare-to option{
			padding:2px 50px 2px 0;
		}
		#players-machines-chart.comparison .legend{ display:inline-block; }
			#players-machines-chart thead .legend p{
				display:inline-block;
				margin-left:5px;
			}
			#players-machines-chart thead .legend p{
				padding:4px 6px;
				color:#fff;
				background:#699db1;
			}
			#players-machines-chart thead .legend p.compared-to{
				background:#8db27b;
			}

	#players-machines-chart tbody tr:nth-child(even) td,
	#players-machines-chart tbody tr:nth-child(even) th,
	.head-to-head-holder table tr:nth-child(even) td,
	.head-to-head-holder tr:nth-child(even) th{
		background:#eee;
	}
	#players-machines-chart tbody th,
	.head-to-head-holder table th{
		width:55px;
		padding:8px 5px 8px 0;
		border-right:1px solid #ccc;
		border-bottom:1px solid #ccc;
		font-size:16px;
		font-weight:700;
		text-align:right;
		vertical-align:middle;
	}
	#players-machines-chart tbody td,
	.head-to-head-holder table td{
		vertical-align:middle;
		border-bottom:1px solid #ccc;
	}
	#players-machines-chart tbody td div.bar,
	.head-to-head-holder table td.scores div.bar{
		display:inline-block;
		font-size:12px;
		font-weight:300;
		color:#fff;
		text-align:center;
		padding:8px 0;
		margin:2px 0;
		background:#699db1;
	}
		#players-machines-chart.comparison tbody td{
			padding:4px 0 2px 0;
		}
		#players-machines-chart.comparison tbody td div.bar{
			position:relative;
			padding:5px 0;
			margin:0 0 2px 0;
		}
			#players-machines-chart.comparison tbody td div.bar + .bar::before{
				content:'';
				position:absolute;
				top:0; left:0;
				height:100%;
				border-left:1px solid rgba(0,0,0,.08);
			}

		#players-machines-chart tbody td div.bar:nth-child(2),
		.head-to-head-holder table td.scores div.bar:nth-child(2){
			background:#8db27b;
		}

/* comparing to another player */
#players-machines-chart.comparison td div.bar:nth-child(2){
	background:#699db1; 
}
	#players-machines-chart.comparison td div.comparison{
		display:block;
		width:100%;
		padding:0;
		background:none;
		text-align:left;
		margin-top:0;
	}
	#players-machines-chart.comparison td div.comparison div.bar{
		background:#8db27b;
	
		/* border-right: 1px solid #7c9b6c; */
}

/* sub played game */
#players-machines-chart tbody td div.bar.sub{
	-moz-opacity:.9;
	-webkit-opacity:.9;
	opacity:.9;
}
#players-machines-chart tbody td div.bar.sub:after{
	content:'*'; 
}


/* Head to Head */
#players .head-to-head-holder li{
	padding:0;
	border-bottom-width:0;
	background-color: #ffffff; /* Old browsers */
	background-image: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
}
	#players .head-to-head-holder li.closed{
		border-bottom-width:1px;
	}
	#players .head-to-head-holder li header{
		background:none;
		border:none;
		cursor:pointer !important;
	}
		#players .head-to-head-holder li h1{
			font-size:18px;
			text-shadow:none;
			color:#696969;
		}
		
		.head-to-head-holder .record{ display:inline-block; }
		.head-to-head-holder .record.winning{ color: #53AD53; }
		.head-to-head-holder .record.losing{ color: #B45050; }
		.head-to-head-holder .record.tied{ color: #8EBDCF; }
			.head-to-head-holder .record::before{ content:'('; }
			.head-to-head-holder .record::after{ content:')'; }
			
		
	.head-to-head-holder li h1::before{
		content:'-';
		display:inline-block;
		width:1em;
		line-height:1em;
		text-align:center;
		color:#aaa;
		border:2px solid;
		border-radius:50%;  
		float: none;
		margin: 0 .25em 0 0;
		font-size: inherit;
	}
	.head-to-head-holder li.closed h1::before{ content:'+'; }
	
	
	.page article .head-to-head-holder li .content{
		border-radius:0;
		background:#f7f7f7;
		box-shadow:inset 0 0 4px 0 rgba(0,0,0,.5);
	}
	
	
	
	/* tables (in addition to machine chart styles above) */
	.head-to-head-holder table{
		width:98%;
		margin:0 1%;
		font-family:'Roboto Condensed';
		font-weight:bold;
	}
	
		.head-to-head-holder table tr.won{ color:#53AD53; }
		.head-to-head-holder table tr.lost{ color:#B45050; }
	
		.head-to-head-holder table td.league_night{
			padding:0 .5em;
			width:15%;
			border-right:1px solid #ccc;
			font-weight:normal;
			text-align:center;      
		}
			.head-to-head-holder table td.league_night .short-starts{
				display:none;
			}
		
		.head-to-head-holder table td.scores{
			padding-left:2px;
		}    
		
		.head-to-head-holder table td.scores div[data-points="7"]{ width:50%; }
		.head-to-head-holder table td.scores div[data-points="6"]{ width:42.8571%; }
		.head-to-head-holder table td.scores div[data-points="5"]{ width:35.7142%; }
		.head-to-head-holder table td.scores div[data-points="4"]{ width:28.5714%; }
		.head-to-head-holder table td.scores div[data-points="3"]{ width:21.4285%; }
		.head-to-head-holder table td.scores div[data-points="2"]{ width:14.2857%; }
		.head-to-head-holder table td.scores div[data-points="1"]{ width:7.14258%; }
		.head-to-head-holder table td.scores div[data-points="0"]{ display:none; }
		
		@media only screen and (max-width: 767px){
			.head-to-head-holder table td.league_night .title{ display:none; } 
			.head-to-head-holder table td.league_night .short-starts{ display:inline; } 
		}
		
		

/*
 * Login Form
*/
#login-panel .listview li{
	padding:10px;
}
#login-panel .listview button{
	width:100%;
	font-size:1.2857em;
	padding:6px 0;
	margin-bottom:2px;
}
#login-panel .listview button + h2{
	position:absolute;
	line-height:1em;
	font-size:22px;
	font-weight:900;
	margin-top:0;
	margin-left:-15px;
	color:#900;
	width:auto;
	padding-right:10px;
	font-style:italic;
	background:#efefef;
}

/*
 * Tiebreaker
*/
#tiebreaker article{ 
	padding:2%; 
}
#tiebreaker .listview li{
	padding:12px 15px;
}
	#tiebreaker .listview h2{ 
		float:left !important; 
	}
	#tiebreaker .listview fieldset{ 
		width:auto !important;
		float:right !important;
	}
		#tiebreaker fieldset label{
			width:auto;
			padding:10px 30px;
		}



/*
 *  Admin - Nights
*/
.listview .subsection > p{
	clear:left;
}
.listview .subsection .listview{
	clear:both;
	position:relative;
	margin:10px;
	background:#f7f7f7;
	border:1px solid #c6c6c6;
	border-radius:5px;
}


#night_admin .night-form fieldset.multiple input,
#night_admin .night-form fieldset.multiple select{
	width:33.3%;
}
	#night_admin .night-form fieldset.multiple select{
		height:32px;
	}

#sublist li,
#divisionlist li,
li.subsection li{
	padding-right:15px;
}
#sublist button.remove,
#divisionlist button.remove,
li.subsection button.remove{
	float:right;
	line-height:.8em;
	margin-left: 15px;
}
#sublist fieldset,
#divisionlist fieldset,
li.subsection fieldset{
	position:relative;
	width:auto;
	box-shadow:none;
	float:none;
	/*margin-right:45px;*/
}

	#sublist fieldset select,
	#sublist fieldset input,
	#divisionlist fieldset input,
	li.subsection fieldset input,
	li.subsection .fieldset input,
	li.subsection fieldset select,
	li.subsection .fieldset select{
		box-shadow:0 0 2px rgba(0,0,0,.6);
	}

	#sublist fieldset select{
		width:39%;
	}
	#sublist fieldset input,
	#divisionlist fieldset input{
		width:60%;
	}

.sublist-holder button.add-sub,
.divisionlist-holder button.add-division{
	float:right;
	margin-right:10px;
	font-size:16px;
	padding:8px;
}


#divisionlist header,
.page li.subsection header{
	padding:8px 12px;
	border-bottom:1px solid #b8b8b8;
	background-color: rgba(104,104,104,.3);
	background-image: linear-gradient(to bottom,  rgba(163,163,163,0.3) 0%,rgba(104,104,104,0.3) 100%); /* W3C */
}
	#divisionlist header h3,
	li.subsection header h3{
		display:inline-block;
		font-size:1.2em;
	}
	#divisionlist header h3.title{
		width:70%;
	}

#divisionlist fieldset input{
	width:auto;
	display:inline-block;
}
#divisionlist fieldset input[name="title"]{
	width:72%;
	margin-right:1%;
}
#divisionlist fieldset input[name="cap"]{
	width:20%;
	text-align:center;
}
#divisionlist fieldset h3{
	display:none;  
}



	/* make phones stack the inputs vertically */
	@media only screen and (max-width: 767px){
		#sublist fieldset select,
		#sublist fieldset input,
		#divisionlist fieldset input{
			width:100% !important;
		}
		#sublist fieldset input,
		#divisionlist fieldset input{
			margin-bottom:5px;
		}

		#divisionlist header{
			display:none;
		}
		#divisionlist fieldset h3{
			display:block;
			margin-bottom:2px;
		}
	}


/*
 * Machine Admin
*/
#machine_admin .machine-form fieldset.image{
	position:relative;
	box-sizing:border-box;
	box-shadow:none;
}
	#machine_admin .machine-form fieldset.image img.thumb{
		width:60px;
		height:60px;
		box-shadow:0 0 2px rgba(0,0,0,.6);
		display:inline-block;
		vertical-align:middle;
		margin:0 10px 0 0;
	}

	#machine_admin .machine-form fieldset.image input{
		box-shadow:0 0 2px rgba(0, 0, 0, 0.6);
		display:inline-block;
		width:auto;
		vertical-align:middle;
	}


/*
 *	Season Admin
*/
#season-player-order{}

	#season-player-order thead th:first-child,
	#season-player-order tbody th{
		width:70px;
		text-align:center;
	}
		#season-player-order tbody th{
			font-size:1.5em;
			color:#808080;
		}

	#season-player-order .fieldset{ margin:0; }
	#season-player-order .fieldset select{ margin:0 0 5px 0; }

	@media(min-width:768px){
		#season-player-order .fieldset{
			display:flex;
		}
		#season-player-order .fieldset div{ flex:1; }
		#season-player-order .fieldset div + div{ margin-left:10px; }
	}




/*
 *  Radomizer
*/
#random-panel{}

	#random-panel .listview{
		margin:-8px -10px 10px -10px;
	}
	#random-panel img{
		background:#000 url(/layout_imgs/grey-block-loading.gif) no-repeat 50%;
	}
	#random-panel .order span{
		margin-left:5px;
	}


/*
 * Slip Functionality
*/
.slip-swiping-container {
	overflow-x: hidden;
}
	.slip-list li {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		cursor:-webkit-grab;
		cursor:grab;
	}
	.slip-list .slip-reordering {
		box-shadow: 0 2px 10px rgba(0,0,0,0.45);
		cursor:-webkit-grabbing;
		cursor: grabbing;
	}


/*
 *  Player Order
*/
.player-order li{
	position:relative;
	border-color:#c9c9c9;
	overflow:hidden;
	white-space:nowrap;
	padding-right:57px;
}
	.player-order li.divider{
		height: 15px;
		background: #9f9f9f;
		border-top: 1px solid #8b8b8b;
		border-bottom: 1px solid #b3b3b3;
		padding:0;
	}

	.player-order li.error{
		color:#900;
		border-left:5px solid;
	}
		.player-order li.error .rank{
			color:#A26E6E;
		}
		.player-order li.error .dnp{
			background-color: #7d1010;
			background-image: linear-gradient(to bottom,  #ba2626 0%,#7d1010 100%);
			border-color:#981313;
		}

	.player-order li.slip-reordering{
		background:#fff;
	}
		
		.player-order li > *{
			display:inline-block;
			vertical-align:middle;
		}

		.player-order button.dnp{
			position:absolute;
			top:-1px; right:0;
			bottom:-1px; left:auto;
			border-radius:0;
			opacity:.8;
		}
			.player-order button.dnp:hover{
				opacity:1;
			}
			.player-order > li:first-child .dnp{
				top:0;
			}

		.player-order .rank{
			font-weight:bold;
			font-size:18px;
			color:#9f9f9f;
			letter-spacing:-.04em;
			margin-right:15px;
			text-align:center;
			line-height:13px;
		}
			.player-order .rank::before{
				content:'rank';
				display:block;
				font-size:10px;
				font-weight:100;
				text-transform:uppercase;
			}

	.player-order li.dnp > *{
		opacity:.35;
	}
		.player-order li.dnp > .dnp:hover{
			opacity:.55;
		}


/*
 *  Player List Rankings
*/
.player-holder .rank{
	display:inline-block;
	font-size:.9em;
	color:#aaa;
	margin-right:.25em;
	width:50px;
}
	.player-holder .rank::before{
		content: '#';
	}

	.player-holder .rank .movement{
		font-weight:normal;
		font-size:.8em;
		margin-left:.25em;
		line-height:0;
	}
	
		.player-holder .rank .movement.positive{
			color:#89B488;
			vertical-align:super;
		}    
		.player-holder .rank .movement.negative{
			color:#B19191;
			vertical-align:sub;
		}
		.player-holder .rank .movement.same{
			position:relative;
			color:#ccc;
			top:-2px;
		}
			


		.player-holder .rank .movement::before{
			font-weight:bold;
		}
		.player-holder .rank .movement.same::before{
			content:'\21D4'; 
		}
		.player-holder .rank .movement.positive::before{
			content:'\21D1';
		}
		.player-holder .rank .movement.negative::before{
			content:'\21D3';
		}


/*
 *  Flash/Flare Messages
*/ 
#flare-holder{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999999;
}
	#flare-holder .alert{
		border:0;
		margin-bottom:2px;
		min-width: 150px;
		max-width:300px;
		line-height:1.3em;
	
		box-shadow: 1px 1px 2px rgba(0,0,0,.8);
}




/*
 *  Date Picker
*/
.datepicker{
	position:relative;
	background:#fff;
	border-radius: 5px;
	overflow: hidden;
}
	.datepicker > table{
		width:100%;
	}
	.datepicker thead th{
		vertical-align:top;
		text-align:center;
		font-weight:bold;
		background:#eee;
	}
	.datepicker thead tr:first-child button{
		font-size:1.1em;
		height:auto;
	}
		.datepicker thead tr:nth-child(2) th{
			padding:5px 0;
		}
		.datepicker thead th > button{
			box-sizing: border-box;
			display:block;
			width:100%;
			height:100%;
			padding:10px;
			border:none;
		}
		.datepicker thead small{
			font-size:.85em;
			font-weight: normal;
		}
		.datepicker thead .glyphicon-chevron-right::before,
		.datepicker thead .glyphicon-chevron-left::before{
			content:'\203a';
			font-weight:bold;
			font-size:28px;
			position:absolute;
			top:0;
		}
			.datepicker thead .glyphicon-chevron-left::before{
				content:'\2039';
			}


	.datepicker tbody td{
		border:1px solid #eee;
	}
	.datepicker button{
		text-shadow:none;
		border-radius:0;    
		height:35px;
		border:none;
	}
	.datepicker tbody .text-muted{
		color:rgba(0,0,0,.5);
	}
	.datepicker tbody button[disabled]{
		background:#eee;
		opacity:.5;
	}



/*
 *	Machine Abbv Modal
*/
.machine-abbv-modal li{
	padding: 0;
}
.machine-abbv-modal li img{
	margin:0 5px 0 0;	
}
.machine-abbv-modal li h3{
		white-space: normal;	
		line-height: 1.1em;
		margin-bottom: .05em;
}


/*
 *	Edit Scores
*/
#score-admin header{
	display:flex;
	align-items:center;
}
	#score-admin header h1{ flex:1; }
	#score-admin header .button{ font-size:inherit;	}
	#score-admin header .cancel{ color:#eee; }

#score-admin .content{
	border-radius:0;
}

#score-admin footer{
	padding:.5em;
	background: #C2C2C2;
	border-radius: 0 0 5px 5px;
}
	#score-admin footer a{ margin:0 10px; }
	#score-admin footer a:last-child{ margin-right:0; }





#score-admin section.viewing{}

	#score-admin section.viewing,
	#score-admin section.viewing header{
		border-radius:0;	
		box-shadow: 1px 1px 3px rgba(0,0,0,.5);
	}

	#score-admin .viewing header{
    	padding:0 0 0 15px;	
    	background-image: none;
    	background-color: #969696;
	
    	border-color: #848484;
}
		#score-admin .viewing header h1{
			font-size:1em;
		}

		#score-admin .viewing header .button{
			border-radius:0;
			border-width:0 0 0 1px;
		}


.score-edit-form input,
.score-edit-form select,
.score-edit-form textarea{
	font-size:1em;
}
	.score-edit-form input{
		text-align:center;
	}

.score-table{ 
	width:100%;
	font-size: 1.2em;
	line-height:1em;
	text-align: center;
}
	.score-table td,
	.score-table th{
		padding:.6em .25em;
		vertical-align:bottom;
		border-bottom:1px solid #c4c4c4;
	}

	.score-table td.empty{
		background:rgba(125,0,0,.5);
		color:#fff;
	}

	.score-table thead{
		font-weight:bold;
		border-bottom:2px solid #adadad;
	}
		.score-table thead th{
			text-align:center;
		}

	.score-table tbody th{
		text-align:left;
	}

	.score-table tbody th em{
		font-size:.9em;
		color: rgb(161, 161, 161);
	
		margin-left: 5px;
}

	.score-table tbody tr:last-child td,
	.score-table tbody tr:last-child th{
		border-bottom:none;
	}

	.score-table .border-right{ 
		border-right:1px solid #c4c4c4; 
		padding-right:.5em;
	}
		.score-table .border-right + td{
			padding-left:.5em;
		}
	

@media(max-width:500px){
	.score-table thead{ display:none; }

	.score-table tr{ 
		display:block;
		margin-bottom:1em;
	}

	.score-table td,
	.score-table th{
		display:flex;
		align-items:center;
		line-height:1.4em;
		text-align:left !important;
		margin-left:1em;
	}
		.score-table tr > :first-child{
			margin-left:0;
		}

		.score-table tbody tr:last-child td,
		.score-table tbody tr:last-child th{
			border-bottom:1px solid #c4c4c4;
		}

		.score-table td[data-title]::before,
		.score-table th[data-title]::before{
			content:attr(data-title)':';
			text-transform:capitalize;
			font-weight:bold;
			margin-right:5px;
		}

	.score-table .border-right{ 
		border-right:none; 
		padding-right:.25em;
	}
		.score-table .border-right + td{
			padding-left:.25em;
		}


	.score-table input,
	.score-table select,
	.score-table textarea{
		flex:1;
		border:1px solid #eee;
	}

}


/*
 *  Wiggle Animation
*/
.wiggle{
	-moz-animation-name:wiggle;
	-moz-animation-duration:.2s;
	-moz-animation-iteration-count:2;

	-webkit-animation-name:wiggle;
	-webkit-animation-duration:.2s;
	-webkit-animation-iteration-count:2;

	-ms-animation-name:wiggle;
	-ms-animation-duration:.2s;
	-ms-animation-iteration-count:2;

	-o-animation-name:wiggle;
	-o-animation-duration:.2s;
	-o-animation-iteration-count:2;

	animation-name:wiggle;
	animation-duration:.2s;
	animation-iteration-count:2;
}

@-moz-keyframes wiggle{
	from{ left:0; }
	50%{ left:-5px; } 
	to{ left:5px; }
}
@-webkit-keyframes wiggle{
	from{ left:0; }
	50%{ left:-5px; } 
	to{ left:5px; }
}
@-ms-keyframes wiggle{
	from{ left:0; }
	50%{ left:-5px; } 
	to{ left:5px; }
}
@-o-keyframes wiggle{
	from{ left:0; }
	50%{ left:-5px; } 
	to{ left:5px; }
}
@keyframes wiggle{
	from{ left:0; }
	50%{ left:-5px; } 
	to{ left:5px; }
}


/*
 *	Triple Dot Loading Animation
*/
.loader::before, .loader::after, .loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.18s;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}

/*
 *	IFPA
*/
.ifpa-holder {
	position: relative;
}

.ifpa-loading {
	position: absolute;
	top: 58px; /* push below header */
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,.8) url(/layout_imgs/grey-block-loading-light.gif) no-repeat 50%;
}