//
// Themes / Dust / Pages
// --------------------------------------------------

// desaturate is all fucked up in lib-sass
// but ruby-sass is soooo fucking slow
$body-color-darken-4-desaturate-10: #e1e1de;
$body-color-darken-70-desaturate-70: #383838;
$body-color-darken-30-desaturate-70: #9e9e9e;
$body-color-darken-55-desaturate-70: #5e5e5e;


// Sign In Page
.page-signin .signin-info,
.page-signup .signup-header {
  background: $menu-color;
  background: fade-out($menu-color, .2);
}


// Timeline
//

.timeline:before,
.timeline:after,
.tl-header,
.tl-icon {
  background: darken($body-color, 10%);
}

.tl-header,
.tl-icon {
  box-shadow: 0 0 0 4px $body-color;
}

.tl-entry:before {
  background: $primary-color;
  box-shadow: 0 0 0 3px $body-color;
}

.tl-body:before {
  border-color: transparent $theme-border-color transparent transparent;
}

@media (min-width: $screen-tablet) {
  .timeline.centered .tl-entry.left .tl-body:before {
    border-color: transparent transparent transparent $theme-border-color;
  }

  &.right-to-left .timeline.centered .tl-entry.left .tl-body:before {
    border-color: transparent $theme-border-color transparent transparent;
  }
}

&.right-to-left .tl-body:before {
  border-color: transparent transparent transparent $theme-border-color;
} 


// Mail
//

.inner-page {
  .subnav,
  .subnav:before {
    background: $body-color;
  }

  .subnav .sections li.active {
    .label,
    .badge {
      background: $primary-color;
    }
  }

  .subnav,
  .subnav .compose-btn,
  .subnav .sections li.active,
  .subnav:before {
    border-color: $theme-border-color;
  }

  .subnav .navigation.open .sections li.active {
    background: $body-color-darken-4-desaturate-10;
  }

  .subnav li.divider {
    background: $theme-border-color;
  }

  .subnav .sections {
    li.active {
      a {
        color: $body-color-darken-70-desaturate-70;
      }

      &:after {
        color: $body-color-darken-30-desaturate-70;
      }
    }

    a {
      color: $body-color-darken-55-desaturate-70;
    }
  }

  .subnav h2 {
    color: $body-color-darken-30-desaturate-70;
  }

  .subnav .add-more a {
    color: $body-color-darken-30-desaturate-70;
  }
}

@media (min-width: $screen-md) {
  .inner-page .subnav .navigation .sections li.active {
    background: $body-color-darken-4-desaturate-10;
  }

  .inner-page .subnav .sections a:hover {
    color: $body-color-darken-70-desaturate-70;
  }
}