<div class="page" data-route="home" data-title="About the " id="home">
	<article>
		<section>
			<div class="content">
				<div id="banner">
					<img src="layout_imgs/banner.png" alt="Grand Rapids Pinball League" />
				</div>

				<h1>About the Grand Rapids Pinball League</h1>

				<p>The Grand Rapids Pinball League was started in November 2012 by Rodney Minch to provide an opportunity for individuals to play competitive pinball in a fun and friendly environment. The league is open to anyone who has an interest in playing pinball and all skill levels are welcome.</p>

				<p>We are currently in our {{seasons.length | ordinal}} season with {{players.length}} players. A season has 8 league nights for 4 consecutive months. League nights are the 1st and 3rd Wednesday of each month at 7pm. League nights take place at Pyramid Scheme which is located at 68 Commerce Ave SW. Players are welcome and encouraged to come early and/or stay late to practice and socialize.</p>

				<h2>The Venue</h2>
				<p><a href="http://pyramidschemebar.com/" title="Pyramid Scheme">Pyramid Scheme</a> has <span class="machine-count">22</span> pinball machines available for play 7 days a week from 4pm - 2am. All machines are set to $.50/play (except Wizard of Oz at $.75/play) and includes the following titles:</p>

				<ul class="machine-list">
					<li ng-repeat="machine in machines | orderBy:'name'">
						{{machine.name}}
					</li>
				</ul>

				<h2>Join</h2>
				<p>If you are interested in joining the pinball league or have any questions, please check out the <a href="https://www.facebook.com/groups/GrandRapidsPinballLeague/" target="_blank">Grand Rapids Pinball League group on Facebook</a> or contact Rodney Minch at <a href="mailto:grpinball@gmail.com">grpinball@gmail.com</a>.</p>

				<a class="view-rankings button green" href="#/index">View current rankings</a>
			</div>
		</section>

	</article>

	<div id="homepage-panel" class="popup center show-header">
		<header>
			<span class="pointer"></span>
			<h1>Rankings</h1>
			<a class="close" href="#">Close</a>
		</header>
		<article class="listview">
			<ul>
				<li><a href="#/index" title="scoring"><h2>Current Rankings</h2></a></li>
			</ul>
		</article>
	</div>

</div>