<div class="page content-page" data-route="changelog" data-title="Changelog | " id="changelog">
	<article>

		<header>
			<div class="bg" style="background-image:url({{ page.background_image }})"></div>
			<div class="logo">
				<h1>Grand Rapids Pinball League<img src="layout_imgs/banner.png" alt="Grand Rapids Pinball League" /></h1>
				<p><a href="#/index" class="button">{{ page.button_text }}</a></p>
			</div>		
		</header>

		<div class="content">
			<page-editor access-level="admin" page="page" help="help"></page-editor>
			<markdown strip="true" extensions="include, classedlinks" ng-model="page.content"></markdown>
		</div>

	</article>

</div>