<div class="inner-page">
	<header class="page-header">			
		<div class="row">
			<!-- Page header, center on small screens -->
			<h1 class="col-xs-12 text-center text-left-sm">
				<strong>Leauge Nights</strong> Totals
			</h1>
		</div>
	</header>

	<div class="subnav">
		<nav class="navigation">
			<h2>League Nights</h2>
			<ul class="sections league-night-list">
				<li ui-sref-active="active">
					<a ui-sref="public.nights({starts: 'totals'})">
						<i class="fa fa-asterisk"></i>
						<span><strong>Totals</strong>Running totals for the season</span>
					</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="public.nights({starts: '2015-01-07'})">
						<i class="fa fa-calendar-o"></i>
						<span><strong>League Night #1</strong>January 7th, 2015</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<article class="inner-container content">
		<section class="machines">
			<pre>machines</pre>
		</section>
		
		<section class="scores">
			<pre>{{user | json }}</pre>
			<pre>{{ params | json }}</pre>
		</section>
	</article>

</div>