<div class="page" id="playground">
	<article>

		<section collapsible="playground.navapi">
			<header>
				<h1>NavApi</h1>
			</header>
			<div class="content">
				<h1>Title</h1>
				<form>
					<div class="fields listview"><ul>
						<li>
							<label for="title">Title</label>
							<fieldset><input type="text" id="title" placeholder="ie. GRPL" ng-model="title" /></fieldset>
						</li>
						<li>
							<label for="subtitle">Subtitle</label>
							<fieldset><input type="text" id="subtitle" placeholder="ie. Grand Rapids Pinball League" ng-model="subtitle" /></fieldset>
						</li>
					</ul></div>
					<div class="button-holder right">
						<button type="submit" class="inline" ng-click="setTitle()">Set Title</button>
						<button type="submit" class="inline" ng-click="defaultTitle()">Default Title</button>
					</div>
				</form>

				<hr />

				<h1>Center Panel</h1>
				<div>
					<button type="submit" class="inline" ng-click="setCenterPanel('test-panel')">Test Panel</button>
					<button type="submit" class="inline" ng-click="setCenterPanel('other-panel')">Other Panel</button>
				</div>
			</div>
		</section>

		<div id="test-panel" class="panel" inline-modal>
			<header>
				<h1>Rankings</h1>
				<a class="close" ng-click="close()">Close</a>
			</header>
			<article class="listview">
				<ul>
					<li><a ui-sref="public.about"><h2>About</h2></a></li>
				</ul>
			</article>
		</div>

		<div id="other-panel" class="panel" inline-modal>
			<header>
				<h1>Other</h1>
				<a class="close" ng-click="close()">Close</a>
			</header>
			<article class="listview">
				<ul>
					<li><a ui-sref="public.about"><h2>Other Stuff</h2></a></li>
				</ul>
			</article>
		</div>

		<section collapsible="playground.loadingoverlayapi">
			<header>
				<h1>LoadingOverlayApi</h1>

			</header>
			<div class="content">
				<button class="inline" ng-click="loading(1000)">Loading (1sec)</button>
				<button class="inline" ng-click="loading(5000)">Loading (5secs)</button>
			</div>
		</section>

		<section id="modal-container" collapsible="playground.inlinemodals">
			<header>
				<h1>Inline Modals</h1>
			</header>
			<div class="content">

				<div id="homepage-panel" class="panel" inline-modal>
					<header>
						<h1>Rankings</h1>
						<a class="close" ng-click="close()">Close</a>
					</header>
					<article class="listview">
						<ul>
							<li><a ui-sref="public.about"><h2>About</h2></a></li>
						</ul>
					</article>
				</div>

				<div class="btns">
					<button class="inline" ng-click="openHomepagePanel()">Open Homepage Panel</button>
					<button class="inline" ng-click="testModal()">Test Modal</button>
				</div>
			</div>
		</section>

		<section collapsible="playground.dialog">
			<header><h1>Dialogs</h1></header>
			<div class="content">
				<form>
					<div class="fields listview">
						<ul>
							<li>
								<label for="title">Title</label>
								<fieldset><input type="text" name="title" id="title" placeholder="ie. League Night #8" ng-model="dialog_options.title"></fieldset>
							</li>
							<li>
								<label for="headline">Headline</label>
								<fieldset><input type="text" name="headline" id="headline" placeholder="ie. League Night #8" ng-model="dialog_options.headline"></fieldset>
							</li>
							<li>
								<label for="msg">Message</label>
								<fieldset><textarea name="msg" id="msg" placeholder="html should work" ng-model="dialog_options.msg"></textarea></fieldset>
							</li>
							<li>
								<label for="additional_classes">Additional Classes</label>
								<fieldset><input type="text" name="additional_classes" id="additional_classes" placeholder="ie. League Night #8" ng-model="dialog_options.additional_classes"></fieldset>
							</li>
							<li>
								<label for="btn_text">Button Text</label>
								<fieldset><input type="text" name="btn_text" id="btn_text" placeholder="ok, submit, etc." ng-model="dialog_options.btn_text"></fieldset>
							</li>
						</ul>
					</div>
					<button ng-click="openDialog()">open dialog</button>
				</form>
			</div>
		</section>

	</article>

</div>