<div class="page" id="playground">
	<article>

		<section collapsible="playground.navapi">
			<header>
				<h1>NavApi</h1>
			</header>
			<div class="content">
				<h1>Title</h1>
				<form>
					<div class="fields listview"><ul>
						<li>
							<label for="title">Title</label>
							<fieldset><input type="text" id="title" placeholder="ie. GRPL" ng-model="title" /></fieldset>
						</li>
						<li>
							<label for="subtitle">Subtitle</label>
							<fieldset><input type="text" id="subtitle" placeholder="ie. Grand Rapids Pinball League" ng-model="subtitle" /></fieldset>
						</li>
					</ul></div>
					<div class="button-holder right">
						<button type="submit" class="inline" ng-click="setTitle()">Set Title</button>
						<button type="submit" class="inline" ng-click="defaultTitle()">Default Title</button>
					</div>
				</form>

				<hr />

				<h1>Center Panel</h1>
				<div>
					<button type="submit" class="inline" ng-click="setCenterPanel('test-panel')">Test Panel</button>
					<button type="submit" class="inline" ng-click="setCenterPanel('other-panel')">Other Panel</button>
				</div>
			</div>
		</section>

		<div id="test-panel" class="popup panel center show-header" inline-modal>
			<header>
				<span class="pointer"></span>
				<h1>Rankings</h1>
				<a class="close" ng-click="close()">Close</a>
			</header>
			<article class="listview">
				<ul>
					<li><a ui-sref="public.about"><h2>About</h2></a></li>
				</ul>
			</article>
		</div>

		<div id="other-panel" class="popup panel center show-header" inline-modal>
			<header>
				<span class="pointer"></span>
				<h1>Other</h1>
				<a class="close" ng-click="close()">Close</a>
			</header>
			<article class="listview">
				<ul>
					<li><a ui-sref="public.about"><h2>Other Stuff</h2></a></li>
				</ul>
			</article>
		</div>

		<section collapsible="playground.loadingoverlayapi">
			<header>
				<h1>LoadingOverlayApi</h1>

			</header>
			<div class="content">
				<button class="inline" ng-click="loading(1000)">Loading (1sec)</button>
				<button class="inline" ng-click="loading(5000)">Loading (5secs)</button>
			</div>
		</section>

		<section id="modal-container" collapsible="playground.inlinemodals">
			<header>
				<h1>Inline Modals</h1>
			</header>
			<div class="content">

				<div id="homepage-panel" class="popup center show-header" inline-modal>
					<header>
						<span class="pointer"></span>
						<h1>Rankings</h1>
						<a class="close" ng-click="close()">Close</a>
					</header>
					<article class="listview">
						<ul>
							<li><a ui-sref="public.about"><h2>About</h2></a></li>
						</ul>
					</article>
				</div>

				<div class="btns">
					<button class="inline" ng-click="openHomepagePanel()">Open Homepage Panel</button>
					<button class="inline" ng-click="testModal()">Test Modal</button>
				</div>
			</div>
		</section>

	</article>

</div>