<section class="nights-holder ifpa-holder content-section" collapsible="players.ifpa">
    <header>
        <h1>IFPA Standing</h1>
    </header>
    <div class="content" ng-if="player.ifpa_id">
        <fieldset class="points ifpa-state">
            <legend>State</legend>
            <span>{{ ifpa.state }}</span>
        </fieldset>
        <fieldset class="place ifpa-world">
            <legend>World</legend>
            <span>{{ ifpa.world }}</span>
        </fieldset>

        <p>View full details at <a href="http://www.ifpapinball.com/player.php?p={{ player.ifpa_id }}">IFPA</a>.</p>
    </div>
    <div class="content" ng-if="!player.ifpa_id">
        <p>Blah blah blah...</p>
        <form>
            <input type="number" ng-model="ifpa.id" ng-disabled="ifpa_tracker.active()" />
            <input type="submit" ng-click="saveIFPA()" />
        </form>
    </div>

    <div class="ifpa-loading" ng-show="ifpa_tracker.active()"></div>
</section>